/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px)and (max-width:991px){
  .navbar-toggler {
    border: none;
    border-radius: 0px;
    padding: 0px;
    cursor: pointer;
    margin-top: 27px;
    margin-bottom: 23px;
}

    /* HOME */

    #home{
        width: 100%;
        background-image: url(../img/backgrounds/h_img.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    
    }

    #home .container #logo{
        margin-top: 270px;
        height: 10vh;
    }
    
    #home .container h2{
        margin-top: 50px;
        margin-bottom: 200px;
        line-height: 2;
        font-size: 90px; 
        font-weight:400;
    }
    
    #home .container p{
        font-size: 36px;
        text-align: center;
    }


    #home .container #mouseClick{
        margin-top: 130px !important;
        animation: bounce 2s infinite;
    
    }


    /* ABOUT */
    #about-us .about{
        width: 100%;
        text-align: center;
        padding-bottom: 2%;
    
        
    }
    #about-us .about h2{
        font-weight: bold;
        margin-top: 50px;
        font-size: 50px;
      
      }
      
    #about-us .about p{
        line-height: 2;
        font-size: 40px;
      
      }


      /* SERVICES */
    
    #services .service-box{
        width: 100%;
        text-align: center;
        color: white;
        padding-top: 7%;
        padding-bottom: 7%;
  
        
    }
    #services .service-box h2{
        font-weight: bold;
        font-size: 50px;

    }
    
    #services .service-box p{
        line-height: 2;
        font-size: 40px !important;
    
    
    }



    /* WHAT WE DO */
    #what-we-do{
        text-align: center;
        padding-top: 40px;
    }

    #what-we-do .row {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items:baseline;
    
    }
    
    #what-we-do h2{
        font-size: 50px;
        font-weight: bold;
        padding-bottom: 38px;
    
    }
    .col-md-4{
        width: 100%;
        font-size: 40px;
        margin-bottom: 50px;
    
    }
    .col-md-4 img{ 
        height: 200px;
        max-width: 100%;
    
    }
    
    #what-we-do .what-we-do-box .row p{
        font-size: 40px;
    
    }
    .col-md-4 h5{
        font-size: 40px;
    
    }
    
    #design-text, #development-text, #product-text{
        display: none;
        margin-bottom: 50px !important;
    }


   /* PORTFOLIO */

    #portfolio{
        width: 100%;
        padding-bottom: 30px;
      } 
      
    #portfolio h2{
        text-align: center;
        padding-top:40px;
        font-size: 50px;
    }
    
      
    .portfolio{
        display: flex;
        flex-direction: column;
        align-items:center;
        margin: 0%; 
      }
    
      .col-md-3{
        width: 800px;
        position: relative;
        margin-bottom: 50px;
      }
      .col-md-3 img{
          width: 100%;

        max-width: 100%;
        max-height: 100%;
      }
      
      .col-md-3 .solid-border{
        position: absolute;
        margin: 15px;
        height: 85%;
        border: 3px solid white;
        color: white;
        font-weight: bold;
        text-align: left;
        text-transform: uppercase;
        font-size: 33px !important;
        display: none;
      
      }







      /* CONTACT-US */
    #contact-us{
        width: 100%;
    
    }
    
    #contact-us .contact-box{
        width: 100%;
        justify-content: center;
    }
    
    #contact-us .contact-box h2{
        font-size: 50px;
    
    
    }
    
    #contact-us .contact-box input{
        width: 97%;
        height: 100px;
        margin: 15px;
        background: transparent;
        border: 1px solid white;
        margin-bottom: 25px;
        font-size: 40px;

    }
    
    form{
        margin-top: 15px;
    
    }

    input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: white;
        padding-left: 10px;
        font-weight: bold;
        font-size: 40px;
      }
      
      textarea::placeholder{
        color: white;
        padding-left: 10px;
        font-weight: bold;
        font-size: 40px;
      
      }
      
      
      #message{
        width: 96%;
        background: transparent;
        border: 1px solid white;
        color: white;
        font-weight: bold;
        margin-bottom: 20px;
        font-size: 40px;

      
      
      }

      .btn{
        height: 100px;
        width: 500px;
        font-size: 40px;
        margin-bottom: 80px;
        margin-left: 40px;
        background-color: rgb(235, 146, 22);
        border: 1px solid white;
      }

      /* FOOTER */

      #footer{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      #footer .social-icons{
        margin-top: 50px;
        
      }
      
      #footer .social-icons img{
        margin: 10px;
        height: 65px;
      }
      
      #footer .footer-text{
        text-transform: uppercase;
        text-align: center;
        margin-top: 30px;
        font-size: 30px;
      }
      
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}