/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .dropdown #drop{
		font-size: 10px;
	}
	
  .navbar-toggler {
    border: none;
    border-radius: 0px;
    padding: 0px;
    cursor: pointer;
    margin-top: 27px;
    margin-bottom: 23px;
}

    /* HOME */
  .main-home{
    height: 81vh;
   
  }

  .main-home .homeText{
    margin-top: 150px;
    text-align: center;
  }

  .main-home .homeText h2{
    font-family: 'Pacifico', cursive;
    font-size: 27px;
    font-weight: 600;
    color: yellow;
    margin-bottom: 30px;
  }


  .main-home  .homeText p{
    font-family: 'Pacifico', cursive;
    font-size: 16px;
    font-weight: 600;
    color: white;
  }

  #respofooter{
    display: flex;
    justify-content: center;
    margin-top: 17px;
    color: black;
    font-weight:500;
    font-size: 10px;
  }



}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px)and (max-width:991px){

  

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}